{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="item-title">{{ item.name }}</h1>
  <p class="item-description">{{ item.description }}</p>
  <p class="item-price-detail">Price: ${{ item.price }}</p>
  <form
    action="{{ url_for('toggle_favorite', product_id=item.id) }}"
    method="post"
    class="favorite-form"
  >
    <button type="submit" class="favorite-button">
      {% if item.id in favorites %}
      <span class="favorited">&hearts;</span>
      {% else %}
      <span>&hearts;</span>
      {% endif %}
    </button>
  </form>
  <a href="{{ url_for('index') }}" class="button">Back to Home</a>
</div>
{% endblock %}
